.card {
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    display: -ms-flexbox;
}

.card .image {
    height: 250px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 1rem;
}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.card .body {
    padding: 0.8rem;
}

.card .body .design__data h3 {
    color: teal;
    margin-bottom: 0.6rem;
    font-size: 30px;
}

.card .design__author {
    display: flex;
    display: -ms-flexbox;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

.card .design__author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 0.8rem;
}