.container {
  width: 100%;
  padding-bottom: 2rem;
}

.carousel__wrapper {
  cursor: grab;
  width: 100%;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.inner__carousel {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
}

.carousel__item {
  height: 5rem;
  min-width: 12rem;
  padding-right: 1rem;
}

.carousel__item button {
  width: 100%;
  border-radius: 5px;
  padding: 0.6rem 3rem;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--box-shadow);
  background: transparent;
  font-size: 17px;
  color: teal;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.carousel__item button:hover,
.carousel__item button:focus-within {
  background: teal;
  color: #fff;
  border-color: teal;
}
