.main {
  min-height: 100vh;
  max-width: 100%;
  padding: 2rem 4vw;
  padding-top: 8rem;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
}

.main .title h2 {
  margin-bottom: 1rem;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
